<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Panagea - Premium site template for travel agencies, hotels and restaurant listing.">
    <meta name="author" content="Ansonika">
    <title>Panagea</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-rtl.css" rel="stylesheet">
    <link href="css/vendors.css" rel="stylesheet">
    <link href="css/color-blue.css" rel="stylesheet" />
    <!-- YOUR CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <style>

        .rounded {
        color:whitesmoke;
        }

        .rounded:hover{
            color: gray;
        }
    </style>

</head>

<body class="rtl">


    <header class="header menu_fixed">


        <div id="header-top-bar" class="bg-dark">
            <div class="container">
                <div class="row h-100 justify-content-between align-items-center">
                    <div class="col-md-7 col-lg-7 d-none d-md-block d-lg-block">
                        <div class="topbar-text text-white">
                            <ul class="list-inline m-0">
                                <li class="list-inline-item text-white ml-5">
                                    <span class="ti-headphone-alt mr-1"></span> 
                                تلفن : 0313566666
                                </li>
                                <li class="list-inline-item " >
                                <span dir="ltr" class="ti-email  mr-1"></span> 
                              ایمیل : sae@yahoo.com
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="topbar-text text-white">
                            <ul class="list-inline text-md-right text-lg-right text-left  mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="rounded text-danger">
                                        <span class="fab fa-facebook-f text-white"></span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="rounded"><span class="ti-facebook"></span></a>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <a href="#" class="rounded"><span class="ti-twitter-alt"></span></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="rounded"><span class="ti-instagram"></span></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="rounded"><span class="ti-linkedin"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="preloader"><div data-loader="circle-side"></div></div>

        <div class="h-100 p-3 justify-content-between align-items-center">
            <div id="logo">
                <a href="index.html">
                    <img src="img/lg.png" width="150" height="36" data-retina="true" alt="" class="logo_normal">
                    <img src="img/lg.png" width="150" height="36" data-retina="true" alt="" class="logo_sticky">
                </a>
            </div>
            <ul id="top_menu">
                <li><a href="cart-1.html" class="cart-menu-btn" title="Cart"><strong>4</strong></a></li>
                <li><a href="#sign-in-dialog" id="sign-in" class="login" title="Sign In">Sign In</a></li>
     
            </ul>
            <!-- /top_menu -->
            <a href="#menu" class="btn_mobile">
                <div class="hamburger hamburger--spin" id="hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>



            <nav id="menu" class="main-menu">


                <ul>
                    <li>
                        <span><a href="index.html">خانه</a></span>

                    </li>
                    <li>
                        <span><a href="rooms.html">اتاق ها</a></span>

                    </li>
                    <li>
                        <span><a href="additions.html">   مشخصات اتاق </a></span>

                    </li>

                    <li>
                        <span><a href="">   مشخصات مهمانان </a></span>

                    </li>

                    <li>
                        <span><a href="">    پرداخت نهایی </a></span>

                    </li>

                </ul>




            </nav>
        </div>







    </header>



    <!-- /header -->
    <div id="page">
        <main>

            

<style>

    .vpd-day-text {
        color: #090808;
    }

    .vpd-day selected span {
        color: white !important;
    }
</style>


<section class="hero_single version_2">
    <div class="wrapper">
        <div class="container" id="app">
            <h3>سامانه رزراسیون   هتل سیما اصفهان</h3>
            <p class="pb-3">جایی برای آرامش</p>


            <form>

                <div class="row no-gutters custom-search-input-2 ">

                    <div class="col-lg-5">
                        <div class="form-group">

                            <date-picker id="DateFrom" v-model="start"
                                         @close="onClose()"
                                         placeholder="تاریخ ورود"
                                         :auto-submit="true"
                                         format="jYYYY-jMM-jDD"
                                         :color="colors[1]"
                                         v-bind:min="minIn"
                                         label=" تاریخ  ورود">

                            </date-picker>

                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="form-group">


                            <date-picker id="DateTo" v-model="end"
                                         placeholder="تاریخ خروج"
                                         :disabled="!start"
                                         v-bind:min="start"
                                         label="تاریخ خروج" :auto-submit="true"
                                         :color="colors[1]" format="jYYYY-jMM-jDD">
                            </date-picker>





                        </div>
                    </div>



                    <div class="col-lg-2">
                        <input type="submit" class="btn_search" value="جستجو">
                    </div>
                </div>


            </form>

        </div>
    </div>
</section>





          

        </main>

    </div>


    <!-- Sign In Popup -->
    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
        <div class="small-dialog-header">
            <h3>Sign In</h3>
        </div>
        <form>
            <div class="sign-in-wrapper">
                <a href="#0" class="social_bt facebook">Login with Facebook</a>
                <a href="#0" class="social_bt google">Login with Google</a>
                <div class="divider"><span>Or</span></div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" id="email">
                    <i class="icon_mail_alt"></i>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" id="password" value="">
                    <i class="icon_lock_alt"></i>
                </div>
                <div class="clearfix add_bottom_15">
                    <div class="checkboxes float-left">
                        <label class="container_check">
                            Remember me
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="float-right mt-1"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
                </div>
                <div class="text-center"><input type="submit" value="Log In" class="btn_1 full-width"></div>
                <div class="text-center">
                    Don’t have an account? <a href="register.html">Sign up</a>
                </div>
                <div id="forgot_pw">
                    <div class="form-group">
                        <label>Please confirm login email below</label>
                        <input type="email" class="form-control" name="email_forgot" id="email_forgot">
                        <i class="icon_mail_alt"></i>
                    </div>
                    <p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
                    <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
                </div>
            </div>
        </form>
        <!--form -->
    </div>
    <!-- /Sign In Popup -->

    <div id="toTop"></div>

    <!-- COMMON SCRIPTS -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/common_scripts.js"></script>
    <script src="js/main_rtl.js"></script>
    <script src="assets/validate.js"></script>

    <!-- DATEPICKER  -->
    <script>
        $(function () {
            'use strict';
            $('input[name="dates"]').daterangepicker({
                autoUpdateInput: false,
                opens: 'left',
                locale: {
                    direction: 'rtl',
                    cancelLabel: 'Clear'
                }
            });
            $('input[name="dates"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('MM-DD-YY') + ' > ' + picker.endDate.format('MM-DD-YY'));
            });
            $('input[name="dates"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>

    <!-- INPUT QUANTITY  -->
    <script src="js/input_qty.js"></script>
    

    <script src="Plugins/MdDatePicker/vue.js"></script>
    <script src="plugins/MdDatePicker/moment.js"></script>
    <script src="plugins/MdDatePicker/moment-jalaali.js"></script>
    <script src="plugins/MdDatePicker/vue-persian-datetime-picker-browser.js"></script>
    <script src="js/input_qty.js"></script>


    <script>
        var startDate;
        var endDate;
        var nextDate;


        jQuery(function () {



            var today = new Date();
            var input = today.getFullYear() + '/' + (today.getMonth() + 1) + '/' + today.getDate();
            var m = moment(input);

            if (m.isValid()) {
                m.locale('fa');
                startDate = m.format('jYYYY-jMM-jDD');

            }



            var app = new Vue({
                el: '#app',
                data() {
                    return {
                        colors: ['#ff9800'],
                        start: '',
                        end: '',
                        minOut: nextDate,
                        minIn: startDate
                    }
                },
                methods: {
                    onClose: function () {

                        var sd = moment(this.start);
                        if (sd.isValid()) {

                            var find = moment(this.start, 'jYYYY-jMM-jDD').format('YYYY-MM-DD');
                            var date = new Date(find);
                            var newDate = new Date(date);
                            days = parseInt(1, 10);
                            if (!isNaN(newDate.getTime())) {
                                newDate.setDate(newDate.getDate() + days);
                                nextDate = moment(newDate).format('jYYYY-jMM-jDD');
                                this.minOut = nextDate;
                                this.end = nextDate;



                            }
                        }
                    }
                },
                components:
                {
                    DatePicker: VuePersianDatetimePicker
                }
            });


        });








    </script>






</body>
</html>